.App {
  text-align: center;
  height: 100vh;
  background-image: radial-gradient(#0000005c, #0000000d);
}

.heading{
  background-image: linear-gradient(0deg, black, #0000008c);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}