.ex-four{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    align-content:flex-start;
    /* align-content: center;
    align-content: flex-end;
    align-content: space-around;
    align-content: space-between;
    align-content: stretch; */
    
    justify-content: baseline;
    /* justify-content: flex-start;
    justify-content: center;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */
}

/* content control- controlling the entire grid */